<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Form</title>
    <style>
        body{
            background: linear-gradient(180deg,orange,white,green);
            color: red;
        }
        input{
            background: lightsteelblue;
        }

    </style>
</head>
<body>
    <center>
        <legend> FORM </legend>
        <form action="" method="POST">
            <label for="name">USERNAME: </label>
            <input type="text" id="name" name="name"><br><br>
            <label for="pw">PASSWORD: </label>
            <input type="password" name="pw" id="pw"><br><br>
            <input type="submit" value="submit"><br><br><br><br><br>

        </form>
    </center>
</body>
</html>